*{box-sizing: border-box;
margin: 0;
padding: 0;}
body {
    background: #000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div h1 {
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    letter-spacing: 6px;
    line-height: 1;
    mix-blend-mode: difference;
}
div {
    position: absolute;
    color: #fff;
}
div::before {
    content: "";
    position: absolute;
    width: 80px;
    left: 0;
    top: 0;
    height: 100%;
    background: #03e9f4;
    animation: x 4s linear infinite;
    z-index: -1;
    
}
@keyframes x {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 80px);
  }
  100% {
    left: 0;
  }

}